@model LoginModel
@{
    ViewBag.Title = "Returning Player";
    Bundles.Reference("~/scripts/Account/");
    Bundles.Reference("~/scripts/AccountLogin/");
}
<p>
    <a href="@Url.Action(MVC.Account.Register())">I'm new here. Let me register.</a>
</p>
<p>
    <a href="@Url.Action(MVC.Account.ForgotPassword())">I forgot my password.</a>
</p>
<p>
    <h3>Log In</h3>
    @Html.ValidationSummary()
    @using (Html.BeginForm(MVC.Account.Actions.Login((LoginModel) null), FormMethod.Post, new {id = "playerSetup"}))
    {
        @Html.HiddenFor(m => m.Location.Latitude, new {id="latitude"})
        @Html.HiddenFor(m => m.Location.Longitude, new {id="longitude"})
        <div class="input-prepend input-append" id="emailContainer">
            <span class="add-on"><i class="icon-envelope"></i></span>
            @Html.TextBoxFor(m => m.Email, new {id = "email", placeholder = "Email address"})
            <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?s=28&r=pg&d=retro" alt="You" class="gravatar add-on"/>
            @Html.ValidationMessageFor(m=> m.Email, "*")
        </div>
        <div class="input-prepend">
            <span class="add-on"><i class="icon-key"></i></span>
            @Html.PasswordFor(m => m.Password, new {placeholder = "Enter Password"})
            @Html.ValidationMessageFor(m=> m.Password, "*")
        </div>
        <button class="btn"><i class="icon-signin"></i> Sign In</button>

    }
</p>