@model RegisterModel
@{
    ViewBag.Title = "New Player";
    Bundles.Reference("~/scripts/Account/");
    Bundles.Reference("~/scripts/AccountRegister/");
}

<p>
    <a href="@Url.Action(MVC.Account.Login())">I've got an account already. Let me sign in.</a>
</p>
<p>
    <h3>Register</h3>
    @Html.ValidationSummary()
    @using (Html.BeginForm(MVC.Account.Actions.Register((RegisterModel) null), FormMethod.Post, new {id = "playerSetup"}))
    {
        @Html.HiddenFor(m => m.Location.Latitude, new {id="latitude"})
        @Html.HiddenFor(m => m.Location.Longitude, new {id="longitude"})
        <div class="input-prepend input-append" id="emailContainer">
            <span class="add-on"><i class="icon-envelope"></i></span>
            @Html.TextBoxFor(m => m.Email, new {id = "email", placeholder = "Email address"})
            <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?s=28&r=pg&d=mm" alt="You" class="gravatar add-on"/>
            @Html.ValidationMessageFor(m=> m.Email, "*")
        </div>
        <div class="input-prepend">
            <span class="add-on"><i class="icon-key"></i></span>
            @Html.PasswordFor(m => m.Password, new {placeholder = "Enter Password"})
            @Html.ValidationMessageFor(m=> m.Password, "*")
        </div>
        <div class="input-prepend">
            <span class="add-on"><i class="icon-key"></i></span>
            @Html.PasswordFor(m => m.ConfirmPassword, new {placeholder = "Confirm Password"})
            @Html.ValidationMessageFor(m=> m.ConfirmPassword, "*")
        </div>
        <button class="btn"><i class="icon-signin"></i> Register</button>
    }
</p>