@model ResetPasswordModel
@{
    ViewBag.Title = "Reset Password";
    Bundles.Reference("~/scripts/Account/");
}
<p>
    <h3>Reset Password</h3>
    @Html.ValidationSummary()
    @using (Html.BeginForm(MVC.Account.ResetPassword((ResetPasswordModel) null), FormMethod.Post, new {id = "playerSetup"}))
    {
        @Html.HiddenFor(m => m.RequestId)
        @Html.HiddenFor(m => m.Email)
        @Html.HiddenFor(m => m.RequestHash)
        <div class="input-prepend">
            <span class="add-on"><i class="icon-key"></i></span>
            @Html.PasswordFor(m => m.Password, new {placeholder = "Enter Password"})
            @Html.ValidationMessageFor(m => m.Password, "*")
        </div>
        <div class="input-prepend">
            <span class="add-on"><i class="icon-key"></i></span>
            @Html.PasswordFor(m => m.ConfirmPassword, new {placeholder = "Confirm Password"})
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "*")
        </div>
        <button class="btn"><i class="icon-key"></i> Reset Password</button>
    }
</p>