@{
    Bundles.Reference("~/Content");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Bundles.RenderStylesheets()
    @Bundles.RenderScripts("top")
</head>
    <body>
        @if (ViewBag.Title != null)
        {
            <h2 class="ghost">@ViewBag.Title</h2>
        }
        <div id="content">
            @RenderBody()
        </div>
        @Bundles.RenderScripts()
    </body>
</html>
